---
export interface HeroOrbitProps {
  size: number;
  duration?: number;
  rotation?: number;
  opacity?: number;
  starOnly?: boolean;
  class?: string;
}

const { size, duration = 10, rotation = 0, opacity = 100, starOnly = false, class: className} = Astro.props as HeroOrbitProps;
---
{
    !starOnly && (
        <div class="hero-ring blur-[2px]" style={`width: ${size}rem; height: ${size}rem; opacity: ${opacity}%;`}></div>
    )
}

{Astro.slots.has('default') && (
    <div class="absolute -translate-x-1/2 -translate-y-1/2" style={`animation: custom-spin ${duration}s linear infinite; width: ${size}rem; height: ${size}rem; transform: rotate(${rotation}deg); --initial-rotation: ${rotation}deg;`}>
        <slot />
    </div>
)}
