---
export interface HeroOrbitProps {
  size: number;
  duration?: number;
  rotation?: number;
  opacity?: number;
  starOnly?: boolean;
  class?: string;
}

const { size, duration = 10, rotation = 0, opacity = 100, starOnly = false, class: className } = Astro.props as HeroOrbitProps;
---

{!starOnly && <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-2 border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5" style={`width: ${size}rem; height: ${size}rem; opacity: ${opacity}%;`} />}

{
  Astro.slots.has("default") && (
    <div class="animate-when-visible absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
      <div class="animate-when-visible" style={`animation: custom-spin ${duration}s linear infinite; width: ${size}rem; height: ${size}rem; transform: rotate(${rotation}deg); --initial-rotation: ${rotation}deg;`}>
        <slot />
      </div>
    </div>
  )
}
